/*Outstanding issues: Make nav slide left, push UX Designer stuff. 2) Center #navlabel */

/*Global Styles*/

body, html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
#app  {
  margin-right: 90px;
}

a{
  text-decoration: none;
  color:white;
}

h1  {
  font-size:78px;
  font-weight: 700;
}

h2  {
  font-size: 20px;
}

blockquote  {
  text-align: center;
  padding:5%;
  vertical-align: middle;
  display:block;
  font-size: 50px;
}

.button {
  padding-top: 25px;
}

/*Button Styling*/

.button a:hover {
  background-color: rgb(231, 140, 5);
  color:white;

}

.button a {
  font-size: 35px;
  margin: 0 auto;
  text-align: center;
  display: inline-table;
  color:black;
  font-size:20px;
  width:66px;
  height:50px;
  padding: 10px 48px;
}

.label  {
  vertical-align: middle;
  display:table-cell;
}

.hero_copy {
  text-align: center;
  vertical-align: middle;
  color:white;
}

section.hero .masthead_content  {
    vertical-align: middle;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    right: 0;
    left: 0;
}

/*Featured Work Modules Styling */

section.full  {
  width:100%;
  height:545px;
}

section.half  {
  width:50%;
  height:445px;
}

section.pagelink {
  position: relative;
  background-position: center center;
  background-size: cover;
  cursor:pointer;

}

.featured_work  {
  position:relative;
  box-sizing: border-box;
  background-position: center center;
  background-size: cover;
  cursor:pointer;
  height:100%;
  transition: all .2s ease-in-out;
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}

.featured_work:hover{
  transform: scale(1.1);
}

.featured_work.sysco {
  background-image: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6) ), url("images/food-kitchen-cutting-board-cooking.jpg");
}

.featured_work.ace {
  background-image: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6) ), url("images/ACE_Paint.jpg");
}

.featured_work.swa {
  background-image: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6) ), url("images/swa.jpg");
}

a .featured_work:hover img {
    transform: scale(1.5) rotateZ(-5deg);
    -moz-transform: scale(1.5) rotateZ(-5deg);
    -webkit-transform: scale(1.5) rotateZ(-5deg);
    -o-transform: scale(1.5) rotateZ(-5deg);
}

.featured_work:hover .image {
-webkit-transform:scale(1);
transform:scale(1);
}

.image {
  background-size: cover;
  background-position: 60% 50%;
  -webkit-transform:scale(1.3);
  transform:scale(1.3);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

section.pagelink .copy, section.pagelink.half .copy {
  position:absolute;
  z-index: 10;
  bottom:32px;
  left:5vw;
  right:8vw;
}

section.half>a, section.full>a {
  height: 100%;
  text-decoration: none;
}

section a  {
  display:block;
  text-decoration: none;
}

section.pagelink.half .copy p, section.pagelink.full .copy p{
  font-size:16px;
  font-weight:300;
  line-height: 100.5px;
  letter-space: .019px;
}

section.pagelink.half .copy h4, section.pagelink.full .copy h4{
  font-size:48px;
  font-family: serif;
  font-weight:700;
  word-wrap: break-word;
  line-height: 48px;
}

section.featured_work .copy {
  position: absolute;
  z-index: 10;
  left:5vw;
  right:8vw;
}

.featured_work .copy h4 {
    font-family: serif;
    font-weight: 700;
    line-height: 1em;
    text-rendering: geometricPrecision;
    word-wrap: break-word;
    font-size: 30px;
}

section .featured_work{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;

}

/*Sidebar Styling */
#logoVS {
    pointer-events: all;
    right:0;
    top:0;
    width: 89px;
    height: 89px;
    z-index: 101;
    position: absolute;
    background-image: url(images/VSlogo.png);
    background-position: 26px 26px;
    background-repeat: no-repeat;
    background-size: 38px 38px;
    cursor: pointer;
}

#navlabel  {
  position:absolute;
  display:block;
  z-index:101;
  width:89px;
  height:530px;
  top:90px;
  bottom:90px;
  right:0;
  text-align: center;
  opacity: 0;
  -webkit-transition: color .45s ease-in-out,opacity 1s linear 1.6s;
  transition: color .45s ease-in-out,opacity 1s linear 1.6s;
  cursor: pointer;
}
#navlabel p{
  position: absolute;
  margin: auto;
  left: -166px;
  width: 400px;
  height: 0;
  will-change: transform;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  letter-spacing: .8px;

}


#sidebar #navlabel{
  position:absolute;
  margin:auto;
  right:-166px;
  width:400px;
  display:block;
  z-index:101;
  width:89px;
  top:90px;
  bottom:90px;
  right:0;

}

#sidebar #navlabel p {
    font-family: kepler-std-display, serif;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: .019em
    margin:0;
    text-transform: uppercase;
}

#hamburgerbutton {
    position: fixed;
    z-index:102;
    height: 90px;
    width: 90px;
    right: 0;
    bottom:0;
    background-color: #e78c05;
    transition:  background-color .45s ease-in-out,width .8s cubic-bezier(.9,0,.33,1) .2s,transform 1s cubic-bezier(.25,.46,.45,.94),opacity .6s linear .8s,-webkit-opacity .6s linear .8s,border-top-color .3s ease-out;
}

#hamburgerbutton:hover {
    position: fixed;
    z-index:102;
    height: 90px;
    width: 90px;
    right: 0;
    bottom:0;
    background-color: #e78c05;
    transition:  background-color .45s ease-in-out,width .8s cubic-bezier(.9,0,.33,1) .2s,transform 1s cubic-bezier(.25,.46,.45,.94),opacity .6s linear .8s,-webkit-opacity .6s linear .8s,border-top-color .3s ease-out;
}

#hamburgerbutton a p {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 12px;

}


#sidebar {
    background: #fbfbfb;
    box-sizing: content-box;
    margin-right:0;
    position: fixed;
    width: 89px;
    height: 100%;
    right: 0px;
    bottom:0;
    z-index:100;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/*Toggle nav starts here */

#navigation {
		display:none;
}

#navigation.open-sidebar {
		display:table;
		z-index: 100;
    background: rgba(245, 245, 245, 0.85);
    position: absolute;
    top:0;
  	right:0;
		bottom:0;
    box-sizing: border-box;
    width: 100vw;
    height: 100%;
}

.open-sidebar ul {
    margin: 0;
    display:table-cell;
    list-style: none;
    vertical-align: middle;
    padding: 5% 5% 5% 0px;
}
.open-sidebar ul li {
    margin: 0;
    padding:2% 0px;
}
.open-sidebar ul li a {
    padding-right: 4px;
    z-index:100;
    text-align: center;
    vertical-align: middle;
    font-size: 60px;
    position:relative;
    line-height: 1.08em;
    font-weight: 100;
    color: black;
    text-decoration: none;
    display: inherit;
}

.open-sidebar ul li:hover a {
    background-color: #e78c05;
    color:white;
}



/* Main Content Styling */
#main_content  {
  width:100%;
  margin-right: 90px;
}

.contentblock {
  position:relative;
  width:100%;
  height: 596px;
  background-color: rgb(244, 244, 244);
  display:table;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-right: 5%;
  padding-left: 5%;
}

section.contentblock.quote {
  box-sizing: border-box;
  top:20%;
  position: absolute;
}

.quote, .about {
  height:100%;
  padding:5%;
  text-align: center;
  display:table-cell;
  vertical-align: middle;
}


.hero {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/hero.jpg");
  transform: translate3d(0px, 0px, 0px);
  background-size: cover;
  background-position: 50% 50%;
  position:relative;
  overflow:hidden;
  height: 100%;
  width:100%;
  z-index: 0;
  display:block;
}

.about {
  font-size: 50px;
}

section {
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    box-sizing: border-box;
    overflow:hidden;
}



/*footer*/
.footer {
  background-color: rgb(51, 51, 51);
  padding-top: 160px;
  position: absolute;
  width:100%;
  text-align: center;
}

a.mail  {
  padding: 1%;
}

a.mail:hover  {
  padding-top: 15px;
  color:#e78c05;
  text-decoration: underline;
}

#copyright-text  {
    background: #292929;
    text-align: center;
    box-sizing: border-box;
    width:100%;
    display: block;
    padding: 15px 0!important;
    color: rgba(255,255,255,0.4);
    font-size: 12px;
    bottom:0;
}

/*Social icons*/
@font-face {
    font-family: 'si';
    src: url('social_icons/socicon.eot');
    src: url('social_icons/socicon.eot?#iefix') format('embedded-opentype'),
         url('social_icons/socicon.woff') format('woff'),
         url('social_icons/socicon.ttf') format('truetype'),
         url('social_icons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(social_icons/socicon.svg) format(svg);
    }
}

.soc {
    overflow:visible;
    margin:0; padding:0;
    list-style:none;
    padding: 5%;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:visible;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 27px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 50px;
    color: #ffffff;
    background-color: #e78c05;
}

.soc a:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.soc-icon-last{
    margin:0 !important;
}

.soc-email1:before {
    content:'<';
}
.soc-twitter:before {
    content:'a';
}
.soc-linkedin:before {
    content:'j';
}
.soc-skype:before {
    content:'g';
}
